{# Macro to have Section status a <i> class#}


{% macro get_section_status_as_icon(status) %}
  <div class="icon">
  {% if status == 0 %}
    <i class="fa fa-square-o" title="{{ 'Not filled' | t }}" }}></i>
  {% elseif status == 1 %}
    <i class="fa fa-square" title="{{ 'Partially filled' | t }}" }}></i>
  {% elseif status == 2 %}
    <i class="fa fa-check-square-o" title="{{ 'Completed' | t }}" }}></i>
  {% elseif status == 3 %}
    <i class="fa fa-lock" title="{{ 'Locked' | t }}" }}></i>
  {% endif %}
  </div>
{% endmacro %}


<main class="container visa-application">
  <section class="application-header">
    {% trans %}
      Visa Application
    {% endtrans %}
  </section>

  <section class="application-profile">
    <div class="profile-image">
      <img
        src="{{ user_picture }}"
        alt="profile pic">
    </div>
    <div class="applicant-info">
      <div class="name">{{ user.displayname }}</div>
      <div class="applicant-logout">
        <a href="{{ path('user.logout') }}">{{ 'Log out of my application' | t }}</a>
      </div>
    </div>
  </section>

  <section class="application-status"><h2 class="title">{{ 'Important Information about Your Application' | t }}</h2>
    <div class="status-messages">
      <div class="general-info message">
        <div class="icon"><i class="fa fa-pencil" aria-hidden="true"></i>
          Here we give some general information, so you get a sense of what you fill.
          Setting expectations is always good.
        </div>
      </div>
    </div>
  </section>

  <section class="application-steps"><h2 class="title">{{ 'Application Sections' | t  }}</h2>
    <div class="application-steps-header">
    </div>
    <div class="application-steps-list">

      <div class="list-item">
        {{ _self.get_section_status_as_icon(sections_status[1]) }}
        <div class="description">
          <div class="step-title">
            <a href="{{  path('server_visa_application.server_visa_application_form', {'section_number': 1}) }}">
              {{ 'Section 1: Personal information' | t }}
            </a>
          </div>
          <div class="step-time"><i class="fa fa-clock-o" aria-hidden="true"></i> about 5 minutes</div>
          <div class="step-help">Enter some personal information.</div>
        </div>
      </div>

      <div class="list-item">
        {{ _self.get_section_status_as_icon(sections_status[2]) }}
        <div class="description">
          <div class="step-title">
            <a href="{{  path('server_visa_application.server_visa_application_form', {'section_number': 2}) }}">
              {{ 'Section 2: Travel information' | t }}
            </a>
          </div>
          <div class="step-time"><i class="fa fa-clock-o" aria-hidden="true"></i> about 10 minutes</div>
          <div class="step-help">You should be able to do this section with information you already know.</div>
        </div>
      </div>

      <div class="list-item">
        {{ _self.get_section_status_as_icon(sections_status[3]) }}
        <div class="description">
          <div class="step-title">
            <a href="{{  path('server_visa_application.server_visa_application_form', {'section_number': 3}) }}">
              {{ 'Section 3: Sign and confirm' | t }}
            </a>
          </div>
          <div class="step-help">
            Confirm information, and submit your application. You can do this only after all other sections are marked as "Completed".
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
